<div class="right-inner l ">
    <div class="widget-list">
        <div class="media">
            <%if(user.headPic){%>
            <a href="/changephoto" class="fn-posi-re user-infor-head">
                <img id="J-user-infor-head" class="media-object img-rounded" src=<%=user.headPic%> />
                <span class="user-infor-replace fn-posi-ab">更换头像</span>
            </a>
            <%}else{%>
            <a href="/changephoto" class="fn-posi-re user-infor-head">
                <img id="J-user-infor-head" class="media-object img-rounded" src="/images/nopic.jpg" />
                <span class="user-infor-replace fn-posi-ab">更换头像</span>
            </a>
            <%}%>
            <div class="user-infor-sign">
                <h4 class="user-infor-name">
                    <span class="pull-right sidebar-message" title="消息中心"><a href="javascript:void(0)"><i class="icon-envelope fn-mt3"></i></a></span>
                    <a href="/users"><i class="theCurrentName"><%=user.name%></i></a>
                </h4>
                <p class="theCurrentSign">欢迎来到Kevin's Blog</p>
                <p>粉丝：<span class="badge badge-important"><%=funscount%></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注：<a href="/mine"><span class="badge badge-info" id="J-userInfor-topicCount"><%=funscount%></span></a></p>
                </p>
            </div>
        </div>
    </div>

    <div class="widget-list">
        <h5 class="widget-head"><i class="icon-heart"></i> 关注的人<span  class="badge" style="color:green"><%=followcount%></span></h5>
        <div class="list-users">
            <ul class="clearfix">
                <li>
                        <!--<a href='javascript:void(0)' title="xyx， 1个微博"><img class="media-object img-rounded" src="/images/nopic.jpg" /></a>-->
                        <a href='javascript:void(0)' title="<%=follow1==null?null:follow1.name%>"><img class="media-object img-rounded" src="<%=follow1==null?"/images/nopic.jpg":follow1.headPic%>" /></a>
                        <a href='javascript:void(0)' title="<%=follow2==null?null:follow2.name%>"><img class="media-object img-rounded" src="<%=follow2==null?"/images/nopic.jpg":follow2.headPic%>" /></a>
                        <a href='javascript:void(0)' title="<%=follow3==null?null:follow3.name%>"><img class="media-object img-rounded" src="<%=follow3==null?"/images/nopic.jpg":follow3.headPic%>" /></a>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="widget-list">-->
        <!--<h5 class="widget-head"><i class="icon-star"></i> 博客之星 | Star(这里跟下边要进行一次查询：按照微博数量，跟最新加入时间的人查出3个来)</h5>-->
        <!--<div class="list-users">-->
            <!--<ul class="clearfix">-->
                <!--<li>-->
                    <!--<a href='javascript:void(0)' title="xyx， 1个微博"><img class="media-object img-rounded" src="/images/nopic.jpg" /></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</div>-->
    <div class="widget-list">
        <h5 class="widget-head"><i class="icon-leaf"></i> 最新加入 | New</h5>
        <div class="list-users">
            <ul class="clearfix">
                <li>
                    <% if(newUserList){%>
                        <%newUserList.forEach(function(value,index,array){%>
                             <a href='javascript:void(0)' title="新人"><img class="media-object" src="<%=array[index].headPic==null?"/images/nopic.jpg":array[index].headPic%>" /></a>
                        <%});%>
                    <% }%>
                </li>
            </ul>
        </div>
    </div>
</div>