<% include header.ejs %>
<% if (user) { %>
<%='开园时间：'+user.baseObj[0].Date+'密码：'+user.password%>
<div class="hero-unit">
    <form class="form-horizontal" method="post">
        <FIELDSET>
            <LEGEND>个人中心</LEGEND>
            <div class="control-group">
                <label class="control-label" for="username">用户名</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="username" name="username" value="<%= user.name%>" readonly="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="age">年龄</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="age" name="age" value="<%= user.age%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tel">手机号</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="tel" name="tel"  value="<%= user.tel%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">邮箱</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="email" name="email" value="<%= user.email%>">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">提交</button>
                <a href="/confirmsecret">修改密码</a>
            </div>
        </FIELDSET>
    </form>
</div>
<% } %>
<% include footer.ejs %>
