<% include header.ejs %>
<div>
    <% if (user) { %>
    <%='开园时间：'+user.baseObj[0].Date+'密码：'+user.password%>
</div>
<div class="hero-unit clearfix">
    <form class="form-horizontal base-msg l b" method="post">
        <h1>基本资料</h1>
        <hr/>
        <FIELDSET>
            <LEGEND>个人中心</LEGEND>
            <div class="control-group">
                <label class="control-label" for="username">昵称</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="username" name="username" value="<%= user.name%>" readonly="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="age">年龄</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="age" name="age" value="<%= user.age%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tel">手机号</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="tel" name="tel"  value="<%= user.tel%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">邮箱</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="email" name="email" value="<%= user.email%>">
                </div>
            </div>
            <hr/>
<!--<div class="form-actions">-->
<div class='action-btn'>
    <button type="submit" class="btn btn-primary">提交</button>
    <a class="sure-secret" href="/confirmsecret">修改密码</a>
</div>

<!--</div>-->
</FIELDSET>
</form>
    <% include rightslider.ejs %>
</div>
<% } %>
<script type="text/javascript">
    var uploadNotice;
    D.use(['jquery', 'alertify'], function($, alertify){
//        $(function(){
        uploadNotice = function(rec){
            alertify.alert(rec.data);
            if(rec.success){
                $('.previewImg, #J-user-infor-head').attr('src', rec.img +'?'+ new Date().getTime());
            }
        }
//        });
    });
</script>
<% include footer.ejs %>
