<!DOCTYPE html>
<html>
<head>
    <title><%= user.name %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap-paginator.min.js"></script>
    <% include calenderScript.ejs %>
</head>
<body>
<div id="container" class="container">

<div id="enter-index">
    <div class="enter-index-header">
        <div class="content">
            <h1><%= user.name %></h1>
            <nav>
                <ul class="clearfix">
                    <li><a href="/">首页</a></li>
                    <li><a href="javascript:;">博客园</a></li>
                    <li><a href="/Essay/newessay/:_id?">新日志</a></li>
                    <li><a href="/Album/photo">相册</a></li>
                    <!--<li><a href="/File/uploadfile">文件</a></li>-->
                    <li><a href="/<%=user.name%>/Essay/essaylist">显示日志记录</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="wrapper">
        <div class="blog-status r"> 随笔- <%=essaycount%>  总评论- <%=commmentcount%> <h4><a href="/Follow/?followwhoname=<%=user.name%>"> +加关注</a></h4></div>
            <div class="clearfix">
                <div class="l main-banner">
                    <div class="banner-item">
                        <h3>公告</h3>
                        <div class="banner-item-notice">
                            <p> 昵称：<%= user.name %></p>
                            <p> 园龄：<%=user.baseObj[0].Date%></p>
                            <p> 关注：<%=funscount==null?0:funscount%></p>
                            <p> 粉丝：<%=followcount==null?0:followcount%></p>
                        </div>
                        <div class="mycalender"> </div>
                    </div>
                    <div class="banner-item">
                        <h3>最近的10条评论</h3>
                        <% if(newcommentlist){%>
                        <%newcommentlist.forEach(function(value,index,array){%>
                        <div class="new-comment">
                            <div class="new-comment-item">
                                <p>评论人：<%=array[index].commentUser%></p>
                                <p>评论标题：<a href="/Essay/showessay/<%=array[index]._id%>"><%=array[index].caption%></a></p>
                            </div>
                        </div>
                        <%});%>
                        <% }%>
                    </div>
                </div>
                <div class="l main-content">
                    <% if(essaylist){%>
                        <%essaylist.forEach(function(value,index,array){%>
                        <input type="hidden"id="caption" name="caption" value="<%=array[index].caption==null?'没有标题':array[index].caption%>">
                        <div class="item">
                            <h2><a href="/Essay/showessay/<%=array[index]._id%>"><%=array[index].caption%></a></h2>
                            <p>摘要:<%=array[index].content==null?'没有内容':array[index].content.replace(/<[^>]+>/g,'').substring(0,30)%> ...<a href="/Essay/showessay/<%=array[index]._id%>">阅读全文</a></p>
                            <p class="con-msg">posted @ <%=array[index].baseObj[0].Date%> 作者：<%=array[index].username%> 阅读(<span><%=array[index].browsercount%></span>) 评论(<span><%=array[index].commentcount%></span>)<a href="/Essay/newessay/<%=array[index]._id%>">编辑</a> </p>
                        </div>
                        <%});%>
                    <% }%>
                </div>
            </div>
        <div class="clearfix">
            <!--<div class="page r"><a href="javascript:;">下一页</a></div>-->
            <ul class="pagination" id="pagination">
            </ul>
        </div>
        <div class="clearfix copy-right">
            Copyright ©2015 <%=user.name%>
        </div>
    </div>
<% include footer.ejs %>

