<% include header.ejs %>
<div id="enter-index">
    <div class="wrapper">
        <div class="blog-status r"> 随笔- <%=essaycount%>  评论- 3(写死了) </div>
            <div class="clearfix">
                <div class="l main-banner">
                    <div class="banner-item">
                        <h3>公告</h3>
                        <div class="banner-item-notice">
                            <p> 昵称：<a href="javascript:;"><%= title %></a></p>
                            <p> 园龄：<a href="javascript:;"><%=user.baseObj[0].Date%></a></p>
                            <p> 关注：<a href="javascript:;">0（写死了）</a></p>
                            <p> <a href="javascript:;">+加关注（写死了）</a></p>
                        </div>
                        <div class="mycalender"> </div>
                    </div>
                    <div class="banner-item">
                        <h3>最新评论</h3>
                        <div class="new-comment">
                            <div class="new-comment-item">
                                <p><a href="javascript:;">1.Re:多线程---静态同步函数的锁是class（转载）</a></p>
                                <p> PS:利用双重判断可以提高单例模式的效率并不是让锁更安全的问题。如懒汉式的单例模式中public static Single getInstance(){ if(s == null) { ......</p>
                            </div>
                        </div>
                        <div class="new-comment">
                            <div class="new-comment-item">
                                <p><a href="javascript:;">2.Re:多线程---静态同步函数的锁是class（转载）</a></p>
                                <p> PS:利用双重判断可以提高单例模式的效率并不是让锁更安全的问题。如懒汉式的单例模式中public static Single getInstance(){ if(s == null) { ......</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l main-content">
                    <% if(essaylist){%>
                        <%essaylist.forEach(function(value,index,array){%>
                        <input type="hidden"id="caption" name="caption" value="<%=array[index].caption%>">
                        <div class="item">
                            <h2><a href="/Essay/newessay/<%=array[index]._id%>"><%=array[index].caption%></a></h2>
                            <p>摘要:<%=array[index].content.replace(/<[^>]+>/g,'').substring(0,30)%> ...<a href="/Essay/showessay/<%=array[index]._id%>">阅读全文</a></p>
                            <p class="con-msg">posted @ <%=array[index].baseObj[0].Date%> 作者：<%=array[index].username%> 阅读(<span><%=array[index].browsercount%></span>) 评论(<span>0(写死了)</span>)<a href="/Essay/newessay/<%=array[index]._id%>">编辑</a> </p>
                        </div>
                        <%});%>
                    <% }%>
                </div>
            </div>
        <div class="clearfix">
            <div class="page r"><a href="javascript:;">下一页</a></div>
        </div>
        <div class="clearfix copy-right">
            Copyright ©2015 <%=title%>
        </div>
    </div>
<% include footer.ejs %>

