<% include ../../header.ejs %>
<div id="essaylist" class="l-r">
    <div class="clearfix">
        <div class="left-main l">
            <div class="left-essay-wrapper">

                <h1><%= title %></h1>

                <p class="title">Welcome to <%= title %></p>
                <% if(essaylist){%>
                <%essaylist.forEach(function(value,index,array){%>
                <input type="hidden"id="caption" name="caption" value="<%=array[index].caption==null?'无':array[index].caption%>">
                <div class="item">
                    <h2><a href="/Essay/newessay/<%=array[index]._id%>"><%=array[index].caption%></a></h2>
                    <p>摘要:<%=array[index].content==null?'无':array[index].content.replace(/<[^>]+>/g,'').substring(0,30)%> ...<a href="/Essay/showessay/<%=array[index]._id%>">阅读全文</a></p>
                    <p class="con-msg">posted @ <%=array[index].baseObj[0].Date%>  作者：<%=array[index].username%> 阅读 (<span> <%=array[index].browsercount%> </span>) 评论 (<span> 0(写死了) </span>)<a href="/Essay/newessay/<%=array[index]._id%>"> 编辑 </a> </p>
                </div>
                <%});%>
                <% }%>
            </div>
        </div>
        <% include ../../rightslider.ejs %>

</div>

<% include ../../footer.ejs %>
