<!DOCTYPE html>
<html>
<head>
    <title><%= essay.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.js"> </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var getcontent = $('#essaycontent');
            var getessay = $('#showessay');
            getessay.html(getcontent.val());
        })
    </script>
</head>
<body>
<h1><%= essay.username %></h1>
<p>标题<%= essay.caption %></p>
<input type="hidden" id="essaycontent" name="essaycontent" value="<%=essay.content%>"/>
<span>内容：</span>
<p id="showessay"></p>

<% if(comment){%>
<%comment.forEach(function(value,index,array){%>
<input type="hidden"id="caption" name="caption" value="<%=array[index].caption%>">
<div class="item">
    <h2>日期：<%=array[index].baseObj[0].Date%>来自用户：<%=array[index].commentUser%></h2>
    <p>评论<%=array[index].commentContent%></p>
    <%if(array[index].commentUser==user.name){%>
    <p class="con-msg"><a href="/Essay/comment/<%=array[index]._id%>">修改（跳转到连接）</a><a href="/<%array[index]._id%>">删除(暂时不做)</a></p>
    <%}%>
</div>
<%});%>
<% }%>

<form class="form-horizontal" method="post" action="/Essay/comment/">
    <fieldset>
        <legend><%=user.name%></legend>
        <div class="control-group">
            <label class="control-label" for="commentContent">评论</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="commentContent" name="commentContent" value="<%=commentContent%>">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">提交评论</button>
        </div>
    </fieldset>
</form>

</body>
</html>
